/* Global */

* {
  --main-color: rgb(15,15,23);
  --secondary-color: rgb(55,131,194);
  --text-color: rgba(200,200,200, 0.6);
  --header-text-color: rgb(200,200,200);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color);
  text-align: center;
  box-sizing: border-box;
}

a { text-decoration: none;  color: rgb(0,0,0); }
main { padding-top: 50px; }
span { color: var(--secondary-color); }
p { color: var(--text-color); font-size: 14px; }
p:hover { color: rgba(200,200,200, 0.4); }
h1,h2, h3, h4 { color: var(--header-text-color); }
button, select { cursor: pointer; }

/* Landing && Pair */

.data {
  border-bottom: 1px solid var(--secondary-color);
  width: 350px;
  margin-left: calc(50% - 175px);
  text-align: start;
  text-transform: capitalize;
  padding: 5px 5px 5px 0;
}

.modal {
  position: absolute;
  background: rgb(225,225,225);
  border: 1px solid lightblue;
  color: black;
  width: 350px;
  left: calc(50% - 175px);
  top: 25%;
  padding: 20px;
  animation: modal .5s;
}
.modal p {
  color: black;
}

@keyframes modal {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* Account  */

.pair_divs {
  padding: 20; 
  border: 1px solid rgba(255,255,255,0.1); 
  border-radius: 5px;
  width: 400px; 
  margin: 10px auto;
}
.pair_divs p {
  text-align: start;
  padding-left: 20px;
}
.pair_divs:hover {
  border: 1px solid rgba(55,131,194, 0.3);
}


/* Chart  */

.chartData {  padding-top: 50px; }
.chartData form input,
.chartData form button {
  margin: 10px;
}


/* Login && Register */

.login input,
.register input {
  padding: 5px; 
  margin: 10px 0px; 
  width: 80%;
  max-width: 400px;
  background: var(--main-color);
  color: var(--header-text-color);
  font-size: 13px;
}

.login form,
.register form {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
}

.errors { 
  color: var(--text-color); 
  margin-bottom: 5px;
}